#editor {
    height: 60%;
    width: 60%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

.black {
    color: black;
}

.large {
    font-size: large;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
